* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: plum;

}


.links {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: larger;
    padding: 15px ;
    border: 5px solid black;
    width: 100%;
    height: 100%;
}
.links a {
    text-decoration: none;
    padding: 0 8px;
    color: white;
    border-width: 1px solid white;
}

a:hover {
    color: black;
    border-radius: 5px;
}

.label {
    color: black;
    display: f;
    align-self: center;
    font-size: larger;
}